extends layout

block content
    div.content.index
        include parts/banner
        include parts/tiles
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc enim sapien, gravida sit amet sapien sit amet, rhoncus imperdiet tortor. Nulla sed odio aliquet, consectetur dui nec, pellentesque ex. In lacus ligula, ornare vitae fringilla a, eleifend blandit lorem. Vivamus dictum commodo ipsum sed eleifend. Suspendisse elementum ligula eget mi convallis efficitur in non diam. Pellentesque accumsan mi nibh, vel tristique mi scelerisque a. Maecenas ornare tortor risus, vitae maximus enim pulvinar id.
        include parts/plans
append footer
    div.map
        iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3Ad2a1d253e97fb031f1aeffc0abf6e1ba441b15c8202646bba19233fecbe90f5e&amp;source=constructor" width="100%" height="400" frameborder="0")