doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,initial-scale=1")
        title Оператор связи
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
            div.logo лого нашего сайта
            div.phoneNumber 88005553535
            div.lk
                div.button Личный кабинет
        div.main
            block content
        footer.contacts
            block footer
                include parts/contacts