html,body
  margin 0
  padding 0

body > *
  padding 0 30px

header
  display flex
  justify-content space-between
  align-items center
  height 50px
  background #c1ecfa
  >*
    width 33%
    display flex
  .logo
    justify-content flex-start
    font-size 2em
    line-height 1em
    color blue
  .phoneNumber
    justify-content center
    font-size 2em
    line-height 1em
  .lk
    justify-content flex-end
    .button
      border 1px solid black
      padding 7px 10px

.content
  padding 0
  > *
    padding 0 30px
  @import "banner.styl"
