div.contacts
    |Suspendisse potenti. Donec mollis euismod finibus. Vestibulum consectetur suscipit enim, sit amet vehicula nisl convallis in. Phasellus auctor dui at augue faucibus, vitae ultrices mi varius. Fusce sed blandit dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In in auctor est.