div.tiles плитка
    table
        tr
            td(colspan="2") высокоскоростный интернет
            td VPN
            td SIP-телефония
        tr
            td Телефония
            td Colocation
            td Видеонаблюдение
            td Застройщикам